extends layout

include mixins/_spotCard
include mixins/_pagination

block content
  .inner
    h2= title
    .spots
      each spot in spots
        +spotCard(spot)
    +pagination(page, pages, count)

