mixin loginForm()
  form.form(action='/login' method='POST')
    h2= title
    label(for='email') Email Adress
    input(type='email' name='email')
    label(for='password') Password
    input(type='password' name='password')
    input.button(type='submit' value='Log In ->')

